backports.zoneinfo==0.2.1
beautifultable==1.1.0
et-xmlfile==1.1.0
filelock==3.7.1
greenlet==1.1.2
jellyfish==0.9.0
joblib==1.1.0
mysql-connector-python==8.0.29
numpy==1.23.0
openpyxl==3.0.10
pandas==1.4.3
protobuf==4.21.1
pymongo==4.1.1
pyodbc==4.0.32
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pysondb==1.6.7
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
recordlinkage==0.15
regex==2022.3.2
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
SQLAlchemy==1.4.39
threadpoolctl==3.1.0
tzdata==2022.1
tzlocal==4.2
wcwidth==0.2.5
